In [2]:
#!/usr/bin/env python3

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

file_path = "../data/pokemon/"

file_combats = "combats.csv"
file_pokemon = "pokemon.csv"
file_tests = "tests.csv"

pokemon = pd.read_csv(file_path + file_pokemon)

In [3]:
combats = pd.read_csv(file_path + file_combats)

In [65]:
combats.head(20)

    First_pokemon  Second_pokemon  Winner
0             266             298     298
1             702             701     701
2             191             668     668
3             237             683     683
4             151             231     151
5             657             752     657
6             192             134     134
7              73             545     545
8             220             763     763
9             302              31      31
10            442             130     130
11            701             624     701
12             15             283     283
13            151              87     151
14            269             462     269
15            763             448     448
16            143             263     263
17            365             240     240
18            499             774     499
19            563             578     563

In [4]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          799 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.6+ KB

In [5]:
pokemon.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,10,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [24]:
pokemon["Name"][3]

'Mega Venusaur'

In [11]:
types_list = []
for i in pokemon["Type 1"].unique():
    types_list.append(i)
for i in pokemon["Type 2"].unique():
    if i not in types_list:
        types_list.append(i)

In [36]:
types_list = [x for x in types_list if type(x) == str]
for i in types_list:
    print("binary_"+i)

binary_Grass
binary_Fire
binary_Water
binary_Bug
binary_Normal
binary_Poison
binary_Electric
binary_Ground
binary_Fairy
binary_Fighting
binary_Psychic
binary_Rock
binary_Ghost
binary_Ice
binary_Dragon
binary_Dark
binary_Steel
binary_Flying

In [44]:
def create_typeBinaries(data,types,cols):
    for ptype in types:
        data[str("binary_"+ptype)] = [1 if (ptype in [data[str(y)][i] for y in cols]) else 0 for i in range(len(data[cols[0]]))]
    return(data)

In [45]:
pokemon = create_typeBinaries(pokemon,types_list,["Type 1","Type 2"])

In [47]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'binary_Grass',
       'binary_Fire', 'binary_Water', 'binary_Bug', 'binary_Normal',
       'binary_Poison', 'binary_Electric', 'binary_Ground', 'binary_Fairy',
       'binary_Fighting', 'binary_Psychic', 'binary_Rock', 'binary_Ghost',
       'binary_Ice', 'binary_Dragon', 'binary_Dark', 'binary_Steel',
       'binary_Flying'],
      dtype='object')

In [52]:
def create_generationBinaries(data,columns):
    for column in columns:
        for unique_value in data[column].unique():
            data[str(str(column)+str(unique_value))] = [1 if data[column][i] == unique_value else 0 for i in range(len(data[column]))]
    return(data)

In [54]:
pokemon = create_generationBinaries(pokemon,["Generation"])

In [ ]:
# get final data form

def getFinalData

In [ ]:
#Data Exploration

In [ ]:
def myUnique(data_column):
    temp = []
    for i in data_column:
        if i not in temp:
            temp.append(i)
    return(temp)

In [ ]:
pokemon_types = np.unique(pokemon["Type 1"])
pokemon_types2 = myUnique(pokemon["Type 2"])
for i in pokemon_types:
    if i in pokemon_types2:
        pass
    else:
        print("%s from Type 1 is not in Type 2" % i)
for i in pokemon_types2:
    if i in pokemon_types:
        pass
    else:
        print("%s from Type 2 is not in Type 1" % i)

In [ ]:
def getBattles(mydata,columns=["Type 1","Type 2"]):
    battles = []
    for i in mydata.index:
        temp = [mydata[columns[0]][i],mydata[columns[1]][i]]
        temp.sort()
        battles.append(''.join(temp))
    mydata["Battles"] = battles
    return(mydata)

In [55]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'binary_Grass',
       'binary_Fire', 'binary_Water', 'binary_Bug', 'binary_Normal',
       'binary_Poison', 'binary_Electric', 'binary_Ground', 'binary_Fairy',
       'binary_Fighting', 'binary_Psychic', 'binary_Rock', 'binary_Ghost',
       'binary_Ice', 'binary_Dragon', 'binary_Dark', 'binary_Steel',
       'binary_Flying', 'Generation1', 'Generation2', 'Generation3',
       'Generation4', 'Generation5', 'Generation6'],
      dtype='object')

In [56]:
pokemon["Legendary"] = [1 if x == True else 0 for x in pokemon["Legendary"]]

In [ ]:
f,ax = plt.subplots(figsize=(18,18))
sns.heatmap(pokemon.corr(), annot=True,linewidths=.5,fmt='.1f',ax=ax)

In [ ]:
def getDifferences(first_pokemon,second_pokemon,winner,mydata,num_columns):
    temp = pd.dataframe()
    if first_pokemon == winner:
        loser = second_pokemon
    else:
        loser = first_pokemon
    for i in num_columns:
        temp[i] = mydata[i][winner] - mydata[i][loser]
    return(temp)

def getBinaries(mydata,column,prefix):
    for i in np.unique(mydata[column]):
        mydata[str(prefix+i)] = [1 if x == i else 0 for x in mydata[column]]
    return(mydata)

In [57]:
binaries = [x for x in pokemon.columns if "binary" in str(x) or "Generation" in str(x)] + ["Legendary"]

In [61]:
binaries

['binary_Grass',
 'binary_Fire',
 'binary_Water',
 'binary_Bug',
 'binary_Normal',
 'binary_Poison',
 'binary_Electric',
 'binary_Ground',
 'binary_Fairy',
 'binary_Fighting',
 'binary_Psychic',
 'binary_Rock',
 'binary_Ghost',
 'binary_Ice',
 'binary_Dragon',
 'binary_Dark',
 'binary_Steel',
 'binary_Flying',
 'Generation1',
 'Generation2',
 'Generation3',
 'Generation4',
 'Generation5',
 'Generation6',
 'Legendary']

In [64]:
num_columns = ["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]

In [126]:
pokemon.iloc[:5,:]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,...,binary_Dragon,binary_Dark,binary_Steel,binary_Flying,Generation1,Generation2,Generation3,Generation4,Generation5,Generation6
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,0,0,0,0,1,0,0,0,0,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,...,0,0,0,0,1,0,0,0,0,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,...,0,0,0,0,1,0,0,0,0,0
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,...,0,0,0,0,1,0,0,0,0,0
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,...,0,0,0,0,1,0,0,0,0,0

In [137]:
def getFinalForm(combats,pokemon,binaries,num_columns):
    final = pd.DataFrame()
    final["Y"] = [1 if combats["First_pokemon"][x] == combats["Winner"][x] else 0 for x in range(len(combats))]
    final["first ID"] = combats["First_pokemon"]
    final["second ID"] = combats["Second_pokemon"]
    
    #final["winner ID"] = [combats["First_pokemon"][x] if combats["First_pokemon"][x] == combats["Winner"][x] else combats["Second_pokemon"][x] for x in range(len(combats))]
    #final["loser ID"] = [combats["Second_pokemon"][x] if combats["First_pokemon"][x] == combats["Winner"][x] else combats["First_pokemon"][x] for x in range(len(combats))]
    
    #final = final.iloc[:100,:]
    
    # for the winner, add the relevant binaries (Generation, Legendary, Types)
    for biny in binaries:
        final[str("first_" + biny)] = [int(pokemon.loc[pokemon["#"] == pok_id,biny]) for pok_id in final["first ID"]]
        final[str("second_" + biny)] = [int(pokemon.loc[pokemon["#"] == pok_id,biny]) for pok_id in final["second ID"]]
    
    for num_col in num_columns:
        #final[str("winner"+num_col+"_adv")] = [int(pokemon.loc[pokemon["#"] == final["winner ID"][i],num_col]) - int(pokemon.loc[pokemon["#"] == final["loser ID"][i],num_col]) for i in range(len(final["winner ID"]))]
        final[str("first_"+num_col)] = [int(pokemon.loc[pokemon["#"] == final["first ID"][i],num_col]) for i in range(len(final["first ID"]))]
        final[str("second_"+num_col)] = [int(pokemon.loc[pokemon["#"] == final["second ID"][i],num_col]) for i in range(len(final["second ID"]))]
        
    return(final)

In [138]:
final_data2 = getFinalForm(combats,pokemon,binaries,num_columns)

In [139]:
final_data2.to_csv("data_final_form2.csv",sep=",",header=True)

In [140]:
final_data2.shape

(50000, 65)

In [157]:
def normalize(mydata,columns):
    for i in columns:
        temp_max = max(mydata[i])
        temp_min = min(mydata[i])
        temp = [(x-temp_min)/temp_max for x in mydata[i]]
        mydata[i] = temp
    return(mydata)

In [ ]:
pokemon = normalize(pokemon,["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"])

In [ ]:
count = 0
for i in range(1,801):
    if i in pokemon["#"]:
        pass
    else:
        count += 1
print(count)

In [169]:
import keras
from keras.models import Sequential
from keras.layers import Dense

#KERAS_BACKEND = Theano

classifier = Sequential()

classifier.add(Dense(input_dim=62,activation='relu',init='uniform',output_dim=62))
classifier.add(Dense(input_dim=62,activation='relu',init='uniform',output_dim=62))
classifier.add(Dense(input_dim=62,activation='sigmoid',init='uniform',output_dim=1))

/Users/jakubkasan/coding/data-science/pokemon/venv/lib/python3.6/site-packages/ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=62, activation="relu", units=62, kernel_initializer="uniform")`
  if __name__ == '__main__':
/Users/jakubkasan/coding/data-science/pokemon/venv/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=62, activation="relu", units=62, kernel_initializer="uniform")`
  # Remove the CWD from sys.path while we load stuff.
/Users/jakubkasan/coding/data-science/pokemon/venv/lib/python3.6/site-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=62, activation="sigmoid", units=1, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()

In [170]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [150]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [154]:
scalable_cols = [x for x in final_data2.columns if sum([1 if str(y) in str(x) else 0 for y in num_columns]) > 0]

In [158]:
final_data_norm = normalize(final_data2,scalable_cols)

In [159]:
y = final_data2["Y"]
x = final_data2.drop("Y",axis=1)

In [162]:
x = x.drop(["first ID","second ID"],axis=1)

In [163]:
x.head()

,first_binary_Grass,second_binary_Grass,first_binary_Fire,second_binary_Fire,first_binary_Water,second_binary_Water,first_binary_Bug,second_binary_Bug,first_binary_Normal,second_binary_Normal,...,first_Attack,second_Attack,first_Defense,second_Defense,first_Sp. Atk,second_Sp. Atk,first_Sp. Def,second_Sp. Def,first_Speed,second_Speed
0,0,1,0,0,0,0,0,0,0,0,...,0.310526,0.342105,0.195652,0.152174,0.180412,0.257732,0.130435,0.086957,0.200000,0.305556
1,1,0,0,0,0,0,0,0,0,0,...,0.447368,0.652632,0.291304,0.369565,0.412371,0.319588,0.473913,0.304348,0.572222,0.572222
2,0,0,0,0,0,0,0,0,0,0,...,0.184211,0.368421,0.347826,0.304348,0.360825,0.592784,0.369565,0.326087,0.194444,0.194444
3,0,0,1,0,0,0,0,0,0,0,...,0.184211,0.605263,0.152174,0.369565,0.309278,0.257732,0.086957,0.304348,0.083333,0.238889
4,0,0,0,0,1,0,0,1,0,0,...,0.289474,0.026316,0.521739,0.978261,0.541237,0.000000,0.217391,0.913043,0.277778,0.000000

In [164]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [168]:
len(x_train.columns)

62

In [171]:
classifier.fit(x_train,y_train,batch_size=10,nb_epoch=10)

/Users/jakubkasan/coding/data-science/pokemon/venv/lib/python3.6/site-packages/keras/models.py:939: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/10
35000/35000 [==============================] - 8s 220us/step - loss: 0.3698 - acc: 0.8541
Epoch 2/10
35000/35000 [==============================] - 7s 206us/step - loss: 0.2736 - acc: 0.9028
Epoch 3/10
35000/35000 [==============================] - 7s 205us/step - loss: 0.2199 - acc: 0.9158
Epoch 4/10
35000/35000 [==============================] - 7s 211us/step - loss: 0.1968 - acc: 0.9207
Epoch 5/10
35000/35000 [==============================] - 7s 206us/step - loss: 0.1805 - acc: 0.9261
Epoch 6/10
35000/35000 [==============================] - 8s 216us/step - loss: 0.1703 - acc: 0.9318
Epoch 7/10
35000/35000 [==============================] - 8s 222us/step - loss: 0.1568 - acc: 0.9365
Epoch 8/10
35000/35000 [==============================] - 8s 228us/step - loss: 0.1500 - acc: 0.9391
Epoch 9/10
35000/35000 [==============================] - 8s 233us/step - loss: 0.1405 - acc: 0.9427
Epoch 10/10
35000/35000 [==============================] - 8s 233us/step - loss: 0.1341 - acc: 0.9444

In [173]:
y_pred = classifier.predict(x_train)

In [174]:
y_pred = (y_pred > 0.5)

In [176]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred, y_train)

In [177]:
cm

array([[17698,   824],
       [  811, 15667]])

In [183]:
y_test_pred = classifier.predict(x_test)

In [184]:
y_test_pred = (y_test_pred > 0.5)

In [185]:
cm2 = confusion_matrix(y_test_pred,y_test)

In [186]:
cm2

array([[7468,  458],
       [ 422, 6652]])

In [188]:
print("Accuracy on test set: %f" % ((cm2[0][0]+cm2[1][1])/(cm2[0][1]+cm2[1][0]+cm2[0][0]+cm2[1][1])))

Accuracy on test set: 0.941333

In [194]:
import h5py as h5py

In [195]:
classifier.save("pokemon_model.h5")

ImportError: `save_model` requires h5py.